In [1]:
import numpy as np
import pandas as pd

data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/german.data'

features = [
    'Account Status', 'Duration','Credit History','Purpose','Credit Amount','Savings',
    'Employment','Installment rate', 'Sex','Other debtors','Residence',
    'Property', 'Age', 'Other installments','Housing','Number of credits', 'Job',
    'Maintenance', 'Telephone', 'Foreign', 'Target'
]

df = pd.read_csv(data_url, sep=" ", header=None, names=features)

#A1: Acccount status
account_status = {'A14':"no",'A11':"<0", 'A12': "<200",'A13':">200"}
df["Account Status"] = df["Account Status"].map(account_status)

#A3: credit history
Credit_history = {"A34":"critical account","A33":"delay in paying off","A32":"existing credits paid back duly till now",
    "A31":"all credits at this bank paid back duly","A30":"no credits taken"}
df["Credit History"] = df["Credit History"].map(Credit_history)

#A4: Purpose
Purpose = {"A40" : "car (new)", "A41" : "car (used)", "A42" : "furniture/equipment", "A43" :"radio/television" , 
    "A44" : "domestic appliances", "A45" : "repairs", "A46" : "education", 'A47' : 'vacation',
    'A48' : 'retraining','A49' : 'business', 'A410' : 'others'}
df["Purpose"] = df["Purpose"].map(Purpose)

#A6: Savings account
Saving_account = {"A65" : "no","A61" :"<100","A62" : "<500","A63" :"<1000", "A64" :">1000"}
df["Savings"] = df["Savings"].map(Saving_account)

#A7 Employment
Present_employment = {'A75':">= 7 years", 'A74':"4 <= < 7 years",  'A73':"1 <= < 4 years", 'A72':"< 1 year",'A71':"unemployed"}
df["Employment"] = df["Employment"].map(Present_employment)

#A9: Male=0, Female=1
sex = { 'A95': "female single",'A94': "male married/widowed",'A93':"male single", 'A92':"female divorced/separated/married", 'A91':"male divorced/separated"}
df["Sex"] = df["Sex"].map(sex)

#A10
Other_debtors_guarantors = {'A101':"none", 'A102':"co-applicant", 'A103':"guarantor"}
df["Other debtors"] = df["Other debtors"].map(Other_debtors_guarantors)

#A12
Property = {'A121':"real estate", 'A122':"savings agreement/life insurance", 'A123':"car or other", 'A124':"no"}
df["Property"] = df["Property"].map(Property)

#A14
Other_installment_plans = {'A143':"none", 'A142':"store", 'A141':"bank"}
df["Other installments"] = df["Other installments"].map(Other_installment_plans)

#A15
Housing = {'A153':"for free", 'A152':"own", 'A151':"rent"}
df["Housing"] = df["Housing"].map(Housing)


#A17 Job
Job = {'A174':"management/ highly qualified employee", 'A173':"skilled employee / official", 'A172':"unskilled - resident", 'A171':"unemployed/ unskilled  - non-resident"}
df["Job"] = df["Job"].map(Job)

#A19
Telephone = {'A192': "yes", 'A191': "none"}
df["Telephone"] = df["Telephone"].map(Telephone)


#A20
foreign_worker = {'A201': "yes", 'A202': "no"}
df["Foreign"] = df["Foreign"].map(foreign_worker)

#Target
risk = {1:1, 2:0}
df["Target"] = df["Target"].map(risk)

df.to_csv('../data/orig.csv')

In [2]:
df_d = pd.get_dummies(df)
df_d.to_csv('../data/cleaned.csv')

In [3]:
df

,Account Status,Duration,Credit History,Purpose,Credit Amount,Savings,Employment,Installment rate,Sex,Other debtors,...,Property,Age,Other installments,Housing,Number of credits,Job,Maintenance,Telephone,Foreign,Target
0,<0,6,critical account,radio/television,1169,no,>= 7 years,4,male single,none,...,real estate,67,none,own,2,skilled employee / official,1,yes,yes,1
1,<200,48,existing credits paid back duly till now,radio/television,5951,<100,1 <= < 4 years,2,female divorced/separated/married,none,...,real estate,22,none,own,1,skilled employee / official,1,none,yes,0
2,no,12,critical account,education,2096,<100,4 <= < 7 years,2,male single,none,...,real estate,49,none,own,1,unskilled - resident,2,none,yes,1
3,<0,42,existing credits paid back duly till now,furniture/equipment,7882,<100,4 <= < 7 years,2,male single,guarantor,...,savings agreement/life insurance,45,none,for free,1,skilled employee / official,2,none,yes,1
4,<0,24,delay in paying off,car (new),4870,<100,1 <= < 4 years,3,male single,none,...,no,53,none,for free,2,skilled employee / official,2,none,yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no,12,existing credits paid back duly till now,furniture/equipment,1736,<100,4 <= < 7 years,3,female divorced/separated/married,none,...,real estate,31,none,own,1,unskilled - resident,1,none,yes,1
996,<0,30,existing credits paid back duly till now,car (used),3857,<100,1 <= < 4 years,4,male divorced/separated,none,...,savings agreement/life insurance,40,none,own,1,management/ highly qualified employee,1,yes,yes,1
997,no,12,existing credits paid back duly till now,radio/television,804,<100,>= 7 years,4,male single,none,...,car or other,38,none,own,1,skilled employee / official,1,none,yes,1
998,<0,45,existing credits paid back duly till now,radio/television,1845,<100,1 <= < 4 years,4,male single,none,...,no,23,none,for free,1,skilled employee / official,1,yes,yes,0
999,<200,45,critical account,car (used),4576,<500,unemployed,3,male single,none,...,car or other,27,none,own,1,skilled employee / official,1,none,yes,1