In [1]:
import pandas as pd

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('../data/cleaned.csv', index_col=0)
df.head()

,Duration,Credit Amount,Installment rate,Residence,Age,Number of credits,Maintenance,Target,Account Status_<0,Account Status_<200,...,Housing_own,Housing_rent,Job_management/ highly qualified employee,Job_skilled employee / official,Job_unemployed/ unskilled - non-resident,Job_unskilled - resident,Telephone_none,Telephone_yes,Foreign_no,Foreign_yes
0,6,1169,4,4,67,2,1,1,1,0,...,1,0,0,1,0,0,0,1,0,1
1,48,5951,2,2,22,1,1,0,0,1,...,1,0,0,1,0,0,1,0,0,1
2,12,2096,2,3,49,1,2,1,0,0,...,1,0,0,0,0,1,1,0,0,1
3,42,7882,2,4,45,1,2,1,1,0,...,0,0,0,1,0,0,1,0,0,1
4,24,4870,3,4,53,2,2,0,1,0,...,0,0,0,1,0,0,1,0,0,1

In [3]:
Xs = df.loc[:, df.columns != 'Target']
ys = df['Target']

In [4]:
lr = LogisticRegression(max_iter=1000)
lr.fit(Xs, ys)

LogisticRegression(max_iter=1000)

In [5]:
preds = lr.predict(Xs)
accuracy_score(ys, preds)

0.781

In [6]:
orig_df = pd.read_csv('../data/orig.csv', index_col=0)
orig_df.rename(columns={"Target": "label_value"}, inplace=True)
orig_df['score'] = preds
orig_df.head()

,Account Status,Duration,Credit History,Purpose,Credit Amount,Savings,Employment,Installment rate,Sex,Other debtors,...,Age,Other installments,Housing,Number of credits,Job,Maintenance,Telephone,Foreign,label_value,score
0,<0,6,critical account,radio/television,1169,no,>= 7 years,4,male single,none,...,67,none,own,2,skilled employee / official,1,yes,yes,1,1
1,<200,48,existing credits paid back duly till now,radio/television,5951,<100,1 <= < 4 years,2,female divorced/separated/married,none,...,22,none,own,1,skilled employee / official,1,none,yes,0,0
2,no,12,critical account,education,2096,<100,4 <= < 7 years,2,male single,none,...,49,none,own,1,unskilled - resident,2,none,yes,1,1
3,<0,42,existing credits paid back duly till now,furniture/equipment,7882,<100,4 <= < 7 years,2,male single,guarantor,...,45,none,for free,1,skilled employee / official,2,none,yes,1,1
4,<0,24,delay in paying off,car (new),4870,<100,1 <= < 4 years,3,male single,none,...,53,none,for free,2,skilled employee / official,2,none,yes,0,0

In [7]:
orig_df.to_csv('../data/processed.csv')